<!DOCTYPE html>
<html>
  <head>
    <title>AssetScore :: Water Balance @ PNNL</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'water-balance/index' %>
    <%= stylesheet_pack_tag 'water-balance/assets/stylesheets/app' %>
    <meta httpEquiv="x-ua-compatible" content="ie=edge"/>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
