<!DOCTYPE html>
<html>
  <head>
    <title>Wb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'water-balance/index' %>
    <%= stylesheet_pack_tag 'water-balance/assets/stylesheets/app' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
